<div class="container-fluid bg-white gap-0 p-5">
    <div class="container text-start">
        <h1>Porfolio</h1>
        <p class="text-break fs-5">Donec ullamcorper nulla non metus fringilla. Vestibulum id felis euismod semper. Prasent cmmodo cursus magna,
            vel
            scelerisque nisl consectetur.
            Fusce dapibus, tellu ac cursus commodo.</p>
    </div>
    <div class="container text-start">
        <div class="row row-cols-3 row-cols-md-3">
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <img src="https://picsum.photos/700/400?random=1" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title text-primary">Project Name</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra
                            euismod odio, gravida pellentesque urna varius vitate.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card" style="width: 18rem;">
                    <img src="https://picsum.photos/700/400?random=2" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title text-primary">Project Name</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra
                            euismod odio, gravida pellentesque urna varius vitate.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card" style="width: 18rem;">
                    <img src="https://picsum.photos/700/400?random=3" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title text-primary">Project Name</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra
                            euismod odio, gravida pellentesque urna varius vitate.
                        </p>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>