<div class="card mb-0 mt-0">
  <div class= "card-imagen">
    <div class="row">
      <div class="col-lg-4 col-sm-12" style="display:flex; justify-content: end; margin-top: 20px; margin-bottom: 20px;">
        <img src="https://picsum.photos/450/450?grayscale" class="rounded-circle img-fluid" alt="...">
      </div>
      <div class="col-lg-8 col-sm-12 d-flex align-items-center">
        <div class="card-body">
          <h3 class="card-title text-dark" style="text-decoration-color: rgba(180, 96, 96, 0.653);"><strong>The Second Heading</strong> Is pretty Cool Too.</h3>
          <p class="card-text text-dark">Donec ullamcorper nulla non metus auctor fringilla.
            Vestibulum id ligual porta felis euismod.
            Praesent commodo cursus magna, vel scelerisque
            nisl consectetur. Fusce dapibus, tellus ac commodo.
          </p>
        </div>
      </div>
    </div>
  </div>




